name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
        check-latest: true

    - name: Build
      run: go build -ldflags "-X main.Version=${GITHUB_SHA::7}" -o videre ./cmd/videre

    - name: Test
      run: go test -ldflags "-X main.Version=${GITHUB_SHA::7}" ./...
